/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.flash-border {
	border-style: solid;
    border-top: thin solid #ff9999;
    border-bottom: thin solid #ff9999;
    border-left: 0px;
    border-right: 0px;
}